
h1 {
    padding: 10px;
    margin: 0;
    color:  rgb(0, 125, 134);
    font-size: 40px;
    font-family:  "Times New Roman", Times, serif;
    font-weight: bold;
}


h2 {
    padding: 10px;
    margin: 0;
    color:  rgb(0, 125, 134);
    font-size: 25px;
    font-family:  "Times New Roman", Times, serif;
    font-weight: bold;
}

figcaption {
    padding: 10px;
    margin: 0;
    color:  rgb(0, 125, 134);
    font-size: 20px;
    font-family:  "Times New Roman", Times, serif;
    font-weight: bold;
    text-align: center;
    /* text-align:center;     */
}

h3 {
    padding: 10px;
    margin: 0;
    color:  rgb(0, 125, 134);
    font-size: 20px;
    font-family:  "Times New Roman", Times, serif;
    font-weight: bold;
    text-align: center;
    /* text-align:center;     */
}

container {
    background-color: rgb(204, 204, 204);
    margin-left: auto;
    margin-right: auto;
}